# use * for newest available locally
rabbitVersion="2.4.0"

# one per line
mirrors="http://mirror.switch.ch/mirror/apache/dist/jackrabbit/"

# comma separated list of extensions to load
extensions=""

# jackrabbit port
port=8080

# where to create the jackrabbit db
dir="./jackrabbit"

javaArgs="-Xmx512m -Xms512m"
